.col-xs-12
  .page-header.text-center
    %h1
      Запили коллеге график
    %h3.text-muted
      Сервис, который запилит коллеге график!
    = link_to 'ЗАПИЛИТЬ ГРАФИК!', new_chart_path, class: 'btn btn-lg btn-primary'
.clearfix
.charts.col-xs-12
  %h3.text-center Вот такие прекрасные графики запилим Вам с радостью!
  .blank-at-bottom
  .col-xs-12.col-md-6
    .chart-container
      #chart-example-0
  .col-xs-12.col-md-6
    .chart-container
      #chart-example-1
  .col-xs-12.col-md-6
    .chart-container
      #chart-example-2
  .col-xs-12.col-md-6
    .chart-container
      #chart-example-3
.clearfix
.text-center
  = link_to 'ЗАПИЛИТЬ ГРАФИК!', new_chart_path, class: 'btn btn-lg btn-primary'
