.col-xs-12
  .text-center
    = notice_message
  .page-header.text-center
    %h2
      Коллега, предоставьте данные для графика
.clearfix
.container
  .col-md-8.col-md-offset-2.col-xs-12.col-xs-offset-0
    = form_tag charts_path, multipart: true, class: 'form-horizontal', id: 'new_chart_form' do
      #file_field.form-group
        .col-md-8.col-md-offset-2.col-xs-12.col-xs-offset-0
          .input-group
            = file_field_tag 'chart[file]', accept: 'text/csv', class: 'form-control input-sm', data: { required: true, parent: '#file_field' }
            .input-group-addon .csv
      #title_field.form-group
        = label_tag 'chart[title]', 'Заголовок', class: 'col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-0 control-label'
        .col-md-6.col-xs-8= text_field_tag 'chart[title]', '', placeholder: 'Введите заголовок', class: 'form-control input-sm', data: { required: true, parent: '#title_field' }
      .form-group
        = label_tag 'chart[subtitle]', 'Подзаголовок', class: 'col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-0 control-label'
        .col-md-6.col-xs-8= text_field_tag 'chart[subtitle]', '', placeholder: 'Введите подзаголовок', class: 'form-control input-sm'
      .form-group
        = label_tag 'chart[y_axis]', 'Абсцисса', class: 'col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-0 control-label'
        .col-md-6.col-xs-8= text_field_tag 'chart[y_axis]', '', placeholder: 'Значения по оси абсцисс', class: 'form-control input-sm'
      .form-group
        = label_tag 'chart[type]', 'График', class: 'col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-0 control-label'
        .col-md-6.col-xs-8
          .btn-group.btn-group-justified{ data: { toggle: :buttons } }
            %label.btn.btn-default.active{ title: 'Spline Chart' }
              = radio_button_tag 'chart[type]', 'spline', true
              %span.fa.fa-line-chart
            %label.btn.btn-default{ title: 'Bar Chart' }
              = radio_button_tag 'chart[type]', 'bar'
              %span.fa.fa-bar-chart
            %label.btn.btn-default{ title: 'Area Chart' }
              = radio_button_tag 'chart[type]', 'area'
              %span.fa.fa-area-chart
      .form-group
        = label_tag 'chart[type]', 'Данные', class: 'col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-0 control-label'
        .col-md-6.col-xs-8
          .btn-group.btn-group-justified
            %label.btn.btn-default.btn-sm.active
              Тип "А"
            %label.btn.btn-default.btn-sm.disabled{ title: 'Тип "B" не поддерживается на данный момент' }
              Тип "В"
            %label.btn.btn-default.btn-sm.disabled{ title: 'Тип "С" не поддерживается на данный момент' }
              Тип "C"
          .help-block
            = link_to 'Что это такое?', '#', data: { toggle: :modal, target: '#data-types-modal' }
      .form-group
        .col-md-8.col-md-offset-2.col-xs-12
          %button.btn.btn-primary.btn-block.submit-form{ type: :button, data: { submit_form: '#new_chart_form' } }
            %span.fa.fa-check
            ЗАПИЛИТЬ!

#data-types-modal.modal.fade.col-xs-8.col-xs-offset-2{ role: :dialog, tabindex: -1 }
  .modal-diallog{ role: :document }
    .modal-content
      .modal-header
        %button.close{ type: :button, data: { dismiss: :modal } } &times;
        %h4 Типы (структуры) данных
      .modal-body
        #data-types-accordion.panel-group
          .panel.panel-success
            .panel-heading
              = link_to '#data-type-a', role: :button, data: { toggle: :collapse, parent: '#data-types-accordion'} do
                Тип данных "А"
            #data-type-a.panel-collapse.collapse.in{ data: { parent: '#data-types-accordion' } }
              %table.table.table-striped
                %tbody
                  %tr
                    %td Валера
                    %td 2015-10-01
                    %td 10
                  %tr
                    %td
                    %td 2015-10-02
                    %td 15
                  %tr
                    %td
                    %td 2015-10-03
                    %td 10
                  %tr
                    %td
                    %td
                      %strong ...
                    %td
                      %strong ...
                  %tr
                    %td
                    %td 2015-10-25
                    %td 45
                  %tr
                    %td
                    %td 2015-10-26
                    %td 25
                  %tr
                    %td.text-center{ colspan: 3 }
                      %span.text-muted Пустая строка, как разделитель
                  %tr
                    %td Володя
                    %td 2015-10-01
                    %td 20
                  %tr
                    %td
                    %td 2015-10-02
                    %td 25
                  %tr
                    %td
                    %td 2015-10-03
                    %td 30
                  %tr
                    %td
                    %td
                      %strong ...
                    %td
                      %strong ...
                  %tr
                    %td
                    %td 2015-10-25
                    %td 11
                  %tr
                    %td
                    %td 2015-10-26
                    %td 50

          .panel.panel-warning
            .panel-heading
              = link_to '#data-type-b', role: :button, data: { toggle: :collapse, parent: '#data-types-accordion'} do
                Тип данных "B"
            #data-type-b.panel-collapse.collapse{ data: { parent: '#data-types-accordion' } }
              %table.table.table-striped
                %tbody
                  %thead
                    %tr
                      %th &nbsp;
                      %th 2015-10-01
                      %th 2015-10-02
                      %th 2015-10-03
                      %th
                        %strong ...
                      %th 2015-10-25
                      %th 2015-10-26
                  %tbody
                    %tr
                      %td Валера
                      %td 10
                      %td 15
                      %td 10
                      %td
                        %strong ...
                      %td 45
                      %td 25
                    %tr
                      %td Володя
                      %td 20
                      %td 25
                      %td 30
                      %td
                        %strong ...
                      %td 11
                      %td 50

          .panel.panel-warning
            .panel-heading
              = link_to '#data-type-c', role: :button, data: { toggle: :collapse, parent: '#data-types-accordion'} do
                Тип данных "C"
            #data-type-c.panel-collapse.collapse{ data: { parent: '#data-types-accordion' } }
              %table.table.table-striped
                %tbody
                  %thead
                    %tr
                      %th &nbsp;
                      %th Валера
                      %th Володя
                  %tbody
                    %tr
                      %td 2015-10-01
                      %td 10
                      %td 20
                    %tr
                      %td 2015-10-02
                      %td 15
                      %td 25
                    %tr
                      %td 2015-10-03
                      %td 10
                      %td 30
                    %tr
                      %td
                        %strong ...
                      %td
                        %strong ...
                      %td
                        %strong ...
                    %tr
                      %td 2015-10-25
                      %td 45
                      %td 11
                    %tr
                      %td 2015-10-26
                      %td 25
                      %td 50
