.col-xs-12
  .text-center
    = notice_message

  .page-header.text-center
    %h2 Коллега, все готово!
  .clearfix

  - grid_class = @charts.count == 1 ? 'col-xs-8 col-xs-offset-2' : 'col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-1'
  - @charts.each do |chart|
    %div{ class: grid_class }
      .chart-container
        .chart{ data: { type: chart.type, title: chart.title, subtitle: chart.subtitle, point_start: chart.point_start, series: chart.series.to_json, yaxis: chart.y_axis } }

  .clearfix
  .page-header
  .text-center
    = link_to 'ЕЩЕ ГРАФИК!', new_chart_path, class: 'btn btn-lg btn-primary'
