.container
  .page-header
    %h2 About Project

  .row
    .col-xs-12
      %h4.about-description
        Сервис, который поможет коллегам запилить график.
        .clearfix
        - url = ZapiliCollegeGraphik.colleague_profile_endpoint
        Идея сервиса появилась после того, как уважаемый коллега (#{ link_to 'Дмитрий Белоус', url }) нуждался в графиках и даже всемогущие
        %i
          Microsoft Excel 2013
        - url = ZapiliCollegeGraphik.opu_endpoint
        и диплом #{ link_to 'Политеха', url } не смогли быстро помочь в этом деле.
      .clearfix

      .page-header
        %h4 Есть идеи, как сделать сервис лучше?

      .row
        .col-md-6.col-xs-12
          .panel.panel-default
            .panel-heading
              %h4
                Запили коллеге
                = link_to ZapiliCollegeGraphik.new_issue_endpoint do
                  Issue
                  %span.fa.fa-bitbucket
            %ul.list-group
              %li.list-group-item 1. Запили краткий и понятный заголовок
              %li.list-group-item 2. Запили полное описание
              %li.list-group-item 3. Выбери тип proposal (предложение)
              %li.list-group-item 4. Считаешь, что скриншотик будет полезным? You're welcome!
              %li.list-group-item 5. Жми "Создать"
        .col-md-6.col-xs-12
          .panel.panel-default
            .panel-heading
              %h4
                Запили коллеге Pull request
            %ul.list-group
              %li.list-group-item
                1. Запили
                = link_to ZapiliCollegeGraphik.fork_endpoint do
                  Fork
                  %span.fa.fa-bitbucket
              %li.list-group-item 2. Запили свою фичу в отдельную ветку
              %li.list-group-item 3. Запили Pull request
        .clearfix
      .page-header.text-center
        %h4 Не знаешь, что такое issue или Pull request?
      .row
        .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
          #error-alert.alert.alert-danger.text-center.collapse{ aria: { expand: false } }
            %span.fa.fa-ban
            %strong Оппаньки, что-то пошло не так, попробуйте еще раз
            .help-block
              Если Вы неоднократно видите данное сообщение, сообщите, пожалуйста нам: #{ ZapiliCollegeGraphik.author_email }
          = form_for Feedback.new, remote: true, html: { class: 'form-horizontal' } do |f|
            .form-group
              .input-group
                .input-group-addon
                  %span.fa.fa-user
                = f.text_field :user_name, placeholder: 'Укажите Ваше имя', class: 'form-control', tabindex: 1, required: true
            .form-group
              .input-group
                .input-group-addon
                  %span.fa.fa-envelope
                = f.email_field :user_email, placeholder: 'Ваша почта, Коллега', class: 'form-control', tabindex: 2, required: true
            .form-group
              .input-group
                .input-group-addon
                  %span.fa.fa-font
                = f.text_area :body, placeholder: 'Текст предложения', class: 'form-control', rows: 5, tabindex: 3, required: true
            .form-group
              %button.submit.col-xs-12{ type: :submit, tabindex: 4 }
                %span.fa.fa-check
                Запилить!

          .help-block.text-center
            .text-danger
              *Ну или просто запили коллеге письмо :)
#request-processing-modal.modal.fade{ tabindex: -1, role: :dialog }
  .modal-dialog{ role: :document }
    #request-state-alert.alert.alert-info.text-center.collapse.in{ aria: { expand: true } }
      %strong Пожалуйста, подождите, Ваш запрос обрабатывается :)
    #success-alert.alert.alert-success.text-center.collapse{ aria: { expand: false } }
      %span.fa.fa-check-circle
      %strong Done
