// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: 20px;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
.blank-at-bottom {
  margin-bottom: 20px;
}
// apply styles to HTML elements
// to make views framework-neutral
html, body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  }
html {
  min-height: 100%;
  }
body {
  margin: 0;
  flex: auto;
  }
main {
  // @extend .container;
  background-color: white;
  width: 100%;
  margin-top: 51px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  }
footer {
  background-color: #eee;
  width: 100%;
  color: #585858;
  margin: auto;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // z-index: -1;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
textarea.form-control {
  resize: vertical;
}
