!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Zapili College Graphik'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Zapili College Graphik'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = yield
    %footer
      .container.text-center
        = link_to about_index_path do
          %span.fa.fa-newspaper-o
          Запили коллеге график
        |
        \&copy; 2015 &ndash; Present
        .clearfix
        Version #{ ZapiliCollegeGraphik.version }
